$black: #000000 !default;
$white: #FFFFFF !default;
$powderblue: #B0E0E6 !default;
$lightskyblue: #0f2b37 !default;
$royalblue: #0f2b37 !default;
$steelblue: #4682B4 !default;
$gainsboro: #bfbfbf !default;
$yellow: #F2C752 !default;
